﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project is aimed at the realization of a backend development challenge requested by Jobsity, and carried out by Lucas Marc. It is a web chat application, which allows several users to enter a chat room, exchange messages, and ask a bot for the price of certain shares on the stock exchange.</p>
