﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Developer:</strong>   <a href="mailto:lucas.marc@gmail.com">Lucas.Marc@gmail.com</a><br />
</address>