﻿@model IEnumerable<Jobsity_Web_Chat.Models.ChatroomViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id },new { @class="btn btn-sm btn-info"}) 
            @Html.ActionLink("Join", "Details", new { id=item.Id },new { @class="btn btn-sm btn-primary"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },new { @class="btn btn-sm btn-danger"})
        </td>
    </tr>
}

</table>
